* {
    font-family: 'Abel', sans-serif;
    border: 10px olivedrab;
}
a {
    color: olivedrab !important;
}
.nav-link {
    display: block;
    padding: 2rem 2rem !important;
    font-size: 20px;
}
/* .port-image{
    padding-left: 100px;
} */