* {
    font-family: 'Abel', sans-serif;
}
body {
    display:block;
    border: 3px solid olivedrab;
    margin: 0;
}
a {
    color: olivedrab !important;
}
a:hover {
    background-color:rgba(40, 54, 11, 0.2);
}
.nav-link {
    display: block;
    padding: 2rem 1rem !important;
    font-size: 20px;
    font-weight: bold; 
}

.container {
   border-left:10px solid olivedrab !important;
}
.myPhoto{
    max-height:40%;
    max-width: 40%;
}

/* CSS for the projects page */
.projectsBackground {
    background-image: url('../Images/artem-sapegin-180146-unsplash.jpg');
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
}
.card {
    padding: 5%;
}

.card-img-top {
    max-height:60%;
    max-width: 60%;
}

.btn-projects {
    background-color: rgba(40, 54, 11, 0.3);
}
.btn-projects:hover {
    background-color: rgb(107,142,35, 0.1);
}