* {
    font-family: 'Abel', sans-serif;
    /* border: 10px olivedrab; */
}
body{
    display:block;
    border: 10px olivedrab;
    margin: 0;
}
a {
    color: olivedrab !important;
}
.nav-link {
    display: block;
    padding: 2rem 1rem !important;
    font-size: 20px;
    font-weight: bold; 
}
.container {
   border-left:10px solid olivedrab !important;
}